@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {

  /* COLORS */
  --primary-Nutmeg: hsl(14, 45%, 36%);
  --primary-Dark-Raspberry: hsl(332, 51%, 32%);

  --neutral-White: hsl(0, 0%, 100%);
  --neutral-Rose-White: hsl(330, 100%, 98%);
  --neutral-Eggshell: hsl(30, 54%, 90%);
  --neutral-Light-Grey: hsl(30, 18%, 87%);
  --neutral-Wenge-Brown: hsl(30, 10%, 34%);
  --neutral-Dark-Charcoal: hsl(24, 5%, 18%);

  /*TYPOGRAPHY*/
  --font-size: 16px;
  --outfit: "Outfit", sans-serif;
  --young-serif: "Young Serif", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
  background-color: var(--neutral-Eggshell);

}

body {
  font-size: var(--font-size);
  font-family: var(--outfit);
  background-color: var(--neutral-White);
  width: min(100%, 900px);
  margin: 0 auto;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--young-serif);
  font-size: 2rem;
  color: var(--neutral-Dark-Charcoal);
  font-weight: 500;
}

h2 {
  font-family: var(--young-serif);
  color: var(--primary-Nutmeg);
  margin: 1.5rem 0 1rem 0;
  font-weight: 400;
}

h3 {
  color: var(--primary-Dark-Raspberry);
  margin-bottom: 1rem;
}

p, li {
  color: var(--neutral-Wenge-Brown);
}

span {
  color: var(--neutral-Wenge-Brown);
  font-weight: 700;
}

ol {
  padding-inline-start: 1.5rem;
}

ul {
  padding-inline-start: 1.5rem;
  list-style-type: square;

}
.hero__preparation li::marker {
  color: var(--primary-Dark-Raspberry);

}

.ingredients li::marker {
  color: var(--primary-Nutmeg);
}

ol li::marker {
  color: var(--primary-Nutmeg);
  font-weight: 800;
}

.hero {
  width: min(800px, 100% - 3rem);
}

.hero__logo {
  width: 100%; 
  border-radius: 10px;
  margin-bottom: 2rem;
}

.hero p {
  margin: 1.5rem 0  1.5rem 0;
  line-height: 1.5;
}

.hero__preparation {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--neutral-Rose-White);
  border-radius: 1rem;
}

.hero__preparation li {
  line-height: 2;
}

.ingredients {
  width: min(800px, 100% - 3rem);
} 

.ingredients li {
  line-height: 2;
}

.instructions {
  width: min(800px, 100% - 3rem);
}

.instructions li p {
  line-height: 1.5;
}

.instructions li {
  line-height: 2.5;
}

.nutrition {
  width: min(800px, 100% - 3rem);
}

.nutrition__table th {
  text-align: left;
  padding-inline-start: 30px;
  padding-inline-end: 250px;
  padding-top: 1.5rem;
}

.nutrition__table td {
  padding-top: 1.5rem;
}

.table__line {
  border-bottom: 1.5px solid var(--neutral-Light-Grey);
}



